
    
<div class="container ">
    <div class="sandbox text-center "> 

          
      <h5 class="box2 row col-3" >
        Jenan Sarabi studerar som Frontendutvecklare ,
        Jag söker just nu en inspirerande glätt arbetsmiljö som gör att jag med en bra utbildning kan utveckla mig själv och jobba i team på plats eller på distans.            
      
      </h5>
      <button class="btn ">         
        <a routerLink="/about"> <h4> Min CV   </h4></a>
      </button>
      <button class="btn ">         
        <a routerLink="/kontakt"> <h4>kontakta mig</h4></a>
      </button>
      
        
    </div>
    <div class="box1"></div>

</div> 